/* Style Guide*/
p {
  margin: 0px; }

svg {
  height: 5px;
  padding: 0px;
  margin: 0px; }

figure {
  width: 75%;
  overflow: hidden;
  margin: 0px; }
  figure img {
    display: block;
    width: 100%; }

#cropImage img {
  margin: -30% 0; }

#extraLarge {
  margin-bottom: 20px; }

.vCard {
  display: block; }
  .vCard span {
    display: block; }

/* global variables */
form {
  background-color: #bacfff;
  color: #002a2a;
  height: 1000px;
  padding: 20px;
  margin-bottom: 20px; }

@media only screen and (max-width: 800px) {
  section {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid; } }

@media only screen and (min-width: 801px) {
  section {
    float: left;
    width: 30%;
    max-width: 500px;
    padding: 20px;
    border-right-color: black;
    border-right-width: 2px;
    border-right-style: solid; } }

select {
  padding: 5px;
  margin-right: 20px; }

label {
  display: block;
  margin: 5px; }

input {
  display: flex;
  flex-direction: column; }

input[type=radio] {
  display: inline-flex;
  flex-direction: row; }

input:invalid {
  border-color: red;
  border-width: 2px;
  border-style: dashed; }

input:valid {
  border-color: black;
  border-width: 1px;
  border-style: solid; }

button {
  padding: 10px;
  margin: 20px;
  font-size: 1.6rem; }

.radioBoxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 25px; }

.purchaseDetails {
  float: right;
  position: relative;
  bottom: 30px; }

#price {
  display: block;
  position: relative;
  left: 75%; }

#blackC {
  background-color: black;
  width: 25px;
  height: 25px;
  border: 1px black solid; }

#whiteC {
  background-color: white;
  width: 25px;
  height: 25px;
  border: 1px black solid; }

#redC {
  background-color: red;
  width: 25px;
  height: 25px;
  border: 1px black solid; }

#blueC {
  background-color: blue;
  width: 25px;
  height: 25px;
  border: 1px black solid; }

body {
  margin: 0px; }
