form {
    background-color: $form-color;
    color: $tertiary-color;
}

input:invalid {
    border-color: red;
    border-width: 2px;
    border-style: dashed;
}

input:valid {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.purchaseDetails {
    float: right;
}

#black {
    background-color: black;
}