form {
    position: absolute;
    background-color: $form-color;
    color: $tertiary-color;
    padding: 20px;
}

// Mobile 1st
@include mobile {
    // while I was researching image crop, I found a neat solution to aligning all of my section content via float
    section {
        display: inline-flex;
        flex-direction: column;
        width: 80%;
        padding: 20px;
        margin-bottom: 25px; 
        border-bottom-color: black;
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }
}

// Desktop view
@include desktop {
    section {
        float: left;
        width: 30%;
        max-width: 500px;
        padding: 20px;
        border-right-color: black;
        border-right-width: 2px;
        border-right-style: solid;
    }
}

select {
    padding: 5px;
    margin-right: 20px;
}

label {
    display: block;
    margin: 5px;
}

input {
    display: flex;
    flex-direction: column;
}

input:invalid {
    border-color: red;
    border-width: 2px;
    border-style: dashed;
}

input:valid {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

input[type=submit] {
    padding: 10px;
    margin: 20px;
    font-size: $large-font;
}

// classes
.radioBoxes {
    overflow: hidden;
    height: 100px;
    margin: 20px;
    margin-bottom: 50px;
}

.radioBoxes input {  
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border-width: 5px;
    border-style: solid;
    overflow: hidden;
}

.radioBoxes label {
    float: left;
}

.radioBoxes label {
    display: inline-block;
    width: 60px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    padding: 6px 14px;
}

.radioBoxes input:checked + label {
  background-color: $secondary-color;
}

.purchaseDetails {
    float: right;
    position: relative;
    bottom: 30px;
}

// IDs
#orderDetails {
    visibility: hidden;
    width: 75%;
    font-size: $standard-font;
    margin-left: 30%;
    margin-top: 25%;
    background-color: $form-color;
    color: $tertiary-color;
    border-width: 10px;
    border-style: ridge;
    border-color: $primary-color;
    p {
        display: block;
    }
    h1 {
        display: block;
    }
}

#price {
    display: block;
    position: relative;
    left: 75%;
}

#blackC {
    background-color: black;
    color: black;
    width: $colorBoxes;
    height: $colorBoxes;
    border: 1px black solid;
}

#whiteC {
    background-color: white;
    color: white;
    width: $colorBoxes;
    height: $colorBoxes;
    border: 1px black solid;
}

#redC {
    background-color: red;
    color: red;
    width: $colorBoxes;
    height: $colorBoxes;
    border: 1px black solid;
}

#blueC {
    background-color: blue;
    color: blue;
    width: $colorBoxes;
    height: $colorBoxes;
    border: 1px black solid;
}