html {
    background-color: $tertiary-color;
}

p {
    margin: 0px;
}

svg {
    height: 5px;
    padding: 0px;
    margin: 0px;
}

figure {
    width: 75%;
    overflow: hidden;
    margin: 0px;
    img {
        display: block;
        width: 100%;
    }
}

// IDs
#cropImage img{
    margin: -30% 0;
}

// classes