/* global variables */
$font-stack: "Andale Mono", Arial, Calibri;
$primary-color: #bacfff;
$secondary-color: white;
$tertiary-color: #002a2a;
$form-color: #9e9e9e;
$standard-font: 1.2rem;
$large-font: 1.6rem;