/* global variables */
$font-stack: "Andale Mono", Arial, "Calibri";
$primary-color: white;
$secondary-color: #9e9e9e;
$tertiary-color: #002a2a;
$form-color: #bacfff;
$standard-font: 1.2rem;
$large-font: 1.6rem;
$colorBoxes: 50px;